/* Google Font */

.lato-sans-font {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */

.btn-primary {
  background-color: #e55473;
  color: #ffffff;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #ce3c5c;
  color: #ffffff;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
}

/* Primary Title Text Color */
.text-black {
  color: #272727;
}

/* Primary Paragraph Text Color */
.text-gray {
  color: rgba(39, 39, 39, 0.6);
}

/* Heading Text Style */

.text-h {
  font-size: 2.5rem;
  font-weight: 800;
  color: #272727;
  text-align: center;
}

/* Paragraph Text Style */

.text-p {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
}

/* Cart Title */

.cart-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(39, 39, 39, 1);
  text-align: center;
  text-decoration: underline;
}

/* Header Style */

.header {
  background-color: rgba(229, 84, 115, 0.1);
}

#header-section,
.features-flower-section,
.features-flower-card-section {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;

  gap: 97px;
  align-items: center;
  justify-items: center;
}

#header-content {
  gap: 32px;
}

#header-title {
  font-size: 2.8rem;
  font-weight: 800;
}

#header-img img {
  margin-top: 50px;
  max-height: 500px;
  max-width: 635px;
}

/* Our Features Flowers */
.features-flower-content,
.features-flower-cart {
  justify-items: center;
  align-items: center;
  padding: 0 225px;
}

#features-flower-content-p {
  text-align: center;
  margin-top: -30px;
}

.features-flower-card-section {
  margin-top: 48px;
}

.features-flower-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

#cart-1 {
  background-color: rgba(167, 33, 98, 0.15);
}

#cart-2 {
  background-color: rgba(5, 151, 160, 0.15);
}

#cart-3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.cart {
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  max-width: 250px;
  /* padding: 20px; */
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.cart img {
  width: 100%;
  height: 310px;

  margin: 0 auto;
}

/* Media Responsive */

/* Mobile Device */

@media screen and (max-width: 576px) {
  /* Heading Section */
  #header-section,
  .features-flower-section {
    flex-direction: column;
    padding: 0 20px;
    margin: 0px;
    gap: 0;
  }

  #header-title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    justify-items: center;
  }

  .text-p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .btn-primary {
    margin: 0 90px;
  }

  #header-img img {
    max-height: 250px;
    width: 100%;
  }

  /* Our Features Flowers */

  .features-flower-content {
    padding: 0 1px;
  }
}

/* Medium Device: Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Header Section */
  #header-section {
    /* flex-direction: column; */
    padding: 0 120px;
    margin: 0px;
    gap: 0;
  }

  #header-title {
    font-size: 2.2rem;
  }

  .text-p {
    font-size: 1rem;
    font-weight: 400;
  }

  /* Our Features Flowers */
  .features-flower-content {
    padding: 0 20px;
  }
}
