/* Google Font */

.lato-sans-font {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */

.btn-primary {
  background-color: #e55473;
  color: #ffffff;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #ce3c5c;
  color: #ffffff;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
}

/* Primary Title Text Color */
.text-black {
  color: #272727;
}

/* Primary Paragraph Text Color */
.text-gray {
  color: rgba(39, 39, 39, 0.6);
}

/* Paragraph Text Style */

.text-p {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 30px;
}

/* Header Style */

.header {
  background-color: rgba(229, 84, 115, 0.1);
}

#header-section {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;

  gap: 97px;
  align-items: center;
  justify-items: center;
}

#header-content {
  gap: 32px;
}

#header-title {
  font-size: 2.8rem;
  font-weight: 800;
}

#header-img img {
  margin-top: 50px;
  max-height: 500px;
  max-width: 635px;
}

/* Media Responsive */

/* Mobile Device */

@media screen and (max-width: 576px) {
  #header-section {
    flex-direction: column;
    padding: 0 20px;
    margin: 0px;
    gap: 0;
  }

  #header-title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    justify-items: center;
  }

  .text-p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .btn-primary {
    margin: 0 90px;
  }

  #header-img img {
    max-height: 250px;
    width: 100%;
  }
}

/* Medium Device: Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  #header-section {
    /* flex-direction: column; */
    padding: 0 20px;
    margin: 0px;
    gap: 0;
  }

  #header-title {
    font-size: 2.2rem;
  }

  .text-p {
    font-size: 1rem;
    font-weight: 400;
  }
}
