/* Google Font */

.lato-sans-font {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */

.btn-primary {
  background-color: #e55473;
  color: #ffffff;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #ce3c5c;
  color: #ffffff;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
}

/* Primary Title Text Color */
.text-black {
  color: #272727;
}

/* Primary Paragraph Text Color */
.text-gray {
  color: rgba(39, 39, 39, 0.6);
}

/* Heading Text Style */

.text-h {
  font-size: 2.5rem;
  font-weight: 800;
  color: #272727;
  text-align: center;
}

/* Paragraph Text Style */

.text-p {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 30px;

  color: rgba(39, 39, 39, 0.6);
}

/* Cart Title */

.cart-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(39, 39, 39, 1);
  text-align: center;
  text-decoration: underline;
}

/* Header Style */

.header {
  background-color: rgba(229, 84, 115, 0.1);
}

#header-section,
.features-flower-section,
.features-flower-cart-section,
.customer-service-section,
.hot-deal {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;

  gap: 97px;
  align-items: center;
  justify-items: center;
}

.features-flower-section {
  width: 594px;
}

#header-content {
  gap: 32px;
}

.header-title {
  font-size: 2.8rem;
  font-weight: 800;
}

#header-img img {
  margin-top: 50px;
  max-height: 500px;
  max-width: 635px;
}

/* Our Features Flowers */
.features-flower-content,
.features-flower-cart {
  justify-items: center;
  align-items: center;

  width: 100%;
}

#features-flower-content-p {
  text-align: center;
  margin-top: -30px;
}

.features-flower-cart-section {
  margin-top: 48px;
}

.features-flower-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

#cart-1 {
  background-color: rgba(167, 33, 98, 0.15);
}

#cart-2 {
  background-color: rgba(5, 151, 160, 0.15);
}

#cart-3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.cart {
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  max-width: 250px;

  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.cart img {
  width: 100%;
  height: 310px;

  margin: 0 auto;
}

/* Customer Service Section */

.customer-service-section {
  background-color: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  margin-top: 100px;
}

.customer-service-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.service-cart {
  align-items: center;
  gap: 100px;
}

.service-cart img {
  margin: 0 40px;
}

/* Hot Deals Section */

.hot-deal-section {
  background-color: rgba(229, 84, 115, 0.05);
  margin-top: 130px;
  width: 100%;
}

#hot-deal-content {
  width: 600px;
  justify-items: center;
}

#hot-deal-content p {
  text-align: center;
}

.hot-deal-img img {
  width: 100%;
  margin-top: 100px;
}

#off {
  color: #e55473;
}

/* Instagram Section */
.instagram-section {
  margin-top: 130px;
}

.instagram-content {
  width: 50%;

  margin: 0 auto;
}
.instagram-content p {
  text-align: center;
}

.instagram-img {
  display: flex;
  gap: 24px;
  margin-top: 48px;

  padding-left: 340px;
}

.instagram-img img {
  width: 200px;
}

.get-latest-deals {
  background: url("/Flower\ Asset/Rectangle 9.png");
  width: 75%;
  margin: 0 auto;
  height: 290px;
  border-radius: 8px;
  margin-top: 128px;
  padding-top: 120px;
}

.get-deal-subscription {
  width: 50%;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.get-deal-subscription input {
  width: 700px;
  height: 55px;
  border: none;
  border-radius: 8px;
}

/* Footer */

footer {
  background-color: #111010;
  margin-top: 130px;
  padding: 150px;
}

.footer-content {
  width: 50%;
  margin: 0 auto;
}

.footer-content p {
  color: white;
  text-align: center;
}

#flower {
  color: #e55473;
}

#shop {
  color: white;
}

/* Media Responsive */

/* Mobile Device */

@media screen and (max-width: 576px) {
  .display-none {
    display: none;
    padding: 10px;
  }

  .text-p {
    text-align: center;
  }

  #header-section {
    flex-direction: column;
    max-width: 100%;
    padding: 5%;
    /* margin: 0 auto; */
    height: 1190px;
  }

  #header-content {
    width: 100%;
    justify-items: center;
  }

  .header-title {
    text-align: center;
  }

  #header-img img {
    margin-top: 0;
  }

  .features-flower-content,
  .features-flower-cart {
   
    justify-items: start;
    background-color: green;
    
    padding: 5px;
    width: 100%;
    
  }

  .text-h{
    font-size: 1.8rem;
  }

  #features-flower-content-p{
    text-align: center;
    margin-top: 0;

  }
  
}

/* Medium Device: Tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .display-none {
    display: none;
  }

  #header-section {
    max-width: 100%;
    gap: 0;
  }

  #header-content {
    margin-left: 20px;
  }
}
